*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
}
.parent{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  
}
.card{
  background-color: white;
  width: 350px;
  height: 400px;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin:20px;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.top img{
  width: 50px;
  height: 50px;
  border-radius: 900px;
}
.top button{
  padding: 2px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.63);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.center{
  margin-top: 20px;
}
.center span{
  font-size: 12px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.458);
}
.tags{
  display: flex;
  align-items: center;
  
  gap: 10px;
  margin-top: 10px;
   text-align: center;
}
.tags h4{
 
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background-color: #e0e0e0cb;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 15px;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;

}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.bottom button{
  padding: 10px 20px;
 
  color: rgba(255, 255, 255, 0.827);
  background-color:black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.bottom p{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.63);
}
.line{
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 90px;
}